@import '../../utils/mixins.scss';

.summary-container {
  display: flex;
  align-items: center;
  column-gap: 50px;

  width: 70vw;
  margin: 0 auto 100px;
}

.summary-photo {
  border: #fff solid 10px;
  border-radius: 50%;
  background-color: #fff;
}

.summary-text {
  font-size: 20px;
  text-align: justify;
}

.contact-list {
  @include list;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 70vw;
  margin: 0 auto;
}
