@import '../../utils/variables.scss';

.btn {
  padding: 5px 10px;

  border: none;
  border-radius: 5px;
  background: $light-blue;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: $deep-blue;
  color: $light-blue;
}
