@import '../../utils/mixins.scss';

.navigation {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 25px auto;
}

.navigation-list {
  @include list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 15px;

  max-width: 70vw;
}
