@import '../../utils/mixins.scss';

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 25px auto 100px;
}

.navigation-list {
  @include list;
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 15px;
}
