.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'PT Serif', serif;
  font-size: 18px;

  background: rgb(2, 0, 36);
  background: linear-gradient(to top, var(--violet) 33.34%, rgba(67, 67, 67, 0)),
    radial-gradient(circle at center left, #2d005a 34.34%, rgba(67, 67, 67, 0) 100%),
    linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: #ffffff;
}
