:root {
  --border-width: 3px;
  --light-blue: rgba(0, 212, 255, 1);
  --deep-blue: rgba(2, 0, 36, 1);
  --violet: #681ab1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.link {
  text-decoration: none;

  color: currentColor;
}

.link:visited {
  color: currentColor;
}

.link:focus {
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  border: none;
  border-radius: var(--border-width);
  background: var(--light-blue);
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--deep-blue);
  color: #ffffff;
}
