.link {
  text-decoration: none;

  color: #000;
}

.link:visited {
  color: #000;
}

.link:focus {
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
  text-shadow: 0 0 5px var(--light-blue);
}
