@import '../../utils/variables.scss';

.link {
  text-decoration: none;

  color: $main-text;
}

.link:visited {
  color: $main-text;
}

.link:focus {
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
  text-shadow: 0 0 5px $pink;
}
