@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.link {
  @include link;
}

.contact-link {
  @include beautyful-border;

  position: relative;

  display: inline-block;

  width: 50px;
  height: 50px;

  &::before {
    border-radius: 50%;
  }
}

.linkedin {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background: url('../../assets/images/icons/linkedin.png');
  }

  &::before {
    animation-delay: 1s;
  }
}

.mail {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background: url('../../assets/images/icons/mail.png');
  }
}

.github {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background: url('../../assets/images/icons/git.png');
  }

  &::before {
    animation-delay: 2s;
  }
}
